In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
# from sklearn import model_selection, preprocessing
# import xgboost as xgb
color = sns.color_palette()

%matplotlib inline

In [0]:
from google.colab import files
uploaded = files.upload()

Saving test-0.xlsx to test-0.xlsx

In [0]:
from google.colab import auth
auth.authenticate_user()

from googleapiclient.discovery import build
drive_service = build('drive', 'v3')

file_id = '1ZW_r-UZOOUns1cXoYmAAKnjE_yPlVRB2'

import io
from googleapiclient.http import MediaIoBaseDownload

request = drive_service.files().get_media(fileId=file_id)
downloaded = io.BytesIO()
downloader = MediaIoBaseDownload(downloaded, request)
done = False
while done is False:
  # _ is a placeholder for a progress object that we ignore.
  # (Our file is small, so we skip reporting progress.)
  _, done = downloader.next_chunk()

downloaded.seek(0)

# pd.read_excel("test-0.xlsx",parse_dates=['Date'],index_col="Date")
# print('Downloaded file contents are: {}'.format(downloaded.read()))

In [0]:
df_sd = pd.read_excel("test-0.xlsx",parse_dates=['Date'],index_col="Date")
# df_sd.shape
# df_sd.info()
df_sdoriginal=df_sd.copy()
df_sd

,C-1,C-10,C-11,C-12,C-13,C-14,C-15,C-16,C-17,C-18,...,C-33,C-34,C-35,C-36,C-4,C-5,C-6,C-7,C-8,C-9
Date,,,,,,,,,,,,,,,,,,,,,
2018-10-24,41,3,0,0,8,4,0,0,4,61,...,48,6,2,572,516,55,52,11,0,4
2018-10-25,83,3,0,0,14,0,0,1,6,84,...,24,8,3,559,605,54,18,14,0,7
2018-10-26,34,3,0,0,9,4,2,0,5,100,...,90,12,2,550,129,28,7,6,0,4
2018-10-27,19,2,0,0,1,1,0,0,2,88,...,26,5,0,571,166,55,96,14,0,1
2018-10-28,23,1,0,0,1,1,0,1,45,81,...,27,12,8,562,167,27,92,2,0,5
2018-10-29,128,0,0,0,0,4,2,0,144,136,...,25,9,2,573,156,10,20,6,0,1
2018-10-30,64,5,0,0,3,3,2,0,17,137,...,31,17,2,568,154,23,25,9,0,1
2018-10-31,36,8,0,0,3,2,6,0,6,115,...,81,8,2,575,121,21,45,8,0,12
2018-11-01,38,7,0,0,0,4,0,0,10,97,...,41,6,2,607,110,15,92,11,0,2
2018-11-02,66,0,0,0,2,12,4,0,9,112,...,15,8,2,556,134,30,17,33,0,5
2018-11-03,15,0,0,0,0,0,2,0,28,95,...,18,15,2,565,169,81,86,6,0,3
2018-11-04,20,7,0,0,0,2,2,0,20,97,...,23,8,9,576,191,19,123,9,0,8
2018-11-05,59,2,0,0,0,0,2,0,6,104,...,18,17,1,590,114,10,77,11,0,8
2018-11-06,42,4,0,0,0,12,1,0,6,82,...,265,30,5,617,121,22,33,3,0,3
2018-11-07,33,3,0,0,1,15,0,1,5,98,...,84,22,4,644,95,25,37,129,0,8
2018-11-08,31,5,0,0,2,2,0,0,4,11,...,51,12,3,666,124,34,16,213,0,0
2018-11-09,33,0,0,0,0,4,2,0,5,0,...,34,13,2,709,124,11,112,10,0,41
2018-11-10,22,21,0,0,2,4,69,1,11,0,...,33,14,2,688,210,87,53,4,0,112
2018-11-11,26,11,0,0,0,1,2,0,5,1,...,15,14,9,727,126,37,52,6,0,124
2018-11-12,129,2,0,0,0,0,7,0,5,0,...,25,19,3,737,120,75,47,7,0,67
2018-11-13,86,4,0,0,0,1,4,0,3,0,...,23,12,2,759,132,30,52,2,0,60
2018-11-14,87,1,0,7,0,7,0,0,8,1,...,18,12,4,735,102,185,68,8,0,97
2018-11-15,74,2,0,10,2,4,2,0,11,0,...,34,20,4,410,98,62,85,4,0,50
2018-11-16,36,3,0,14,0,1,2,0,9,0,...,103,19,3,27,276,77,8,4,1,77
2018-11-17,71,1,0,8,0,5,10,0,3,0,...,23,9,1,18,208,118,11,0,0,2
2018-11-18,29,1,0,16,0,0,0,0,7,0,...,16,19,7,20,144,21,11,2,0,6
2018-11-19,33,1,0,13,0,1,0,0,5,1,...,35,15,1,26,119,16,5,4,0,10
2018-11-20,44,6,1,9,0,1,4,0,5,0,...,57,17,1,31,84,15,21,31,0,7
2018-11-21,35,3,29,13,1,4,4,0,8,0,...,86,16,1,50,120,17,2,2,0,31
2018-11-22,39,6,0,13,0,0,0,0,1,0,...,26,1,1,38,146,19,4,5,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-23,32,8,5,37,3,13,1,1,1,5,...,29,1,2,18,70,25,9,7,19,8
2019-01-24,27,10,7,32,0,0,32,1,18,11,...,36,0,18,28,93,44,7,4,62,6
2019-01-25,45,0,6,37,0,1,0,0,18,24,...,103,1,11,49,109,36,6,5,47,15
2019-01-26,19,0,4,35,2,5,1,0,3,4,...,88,0,1,23,141,238,4,1,18,10
2019-01-27,31,17,5,35,1,4,2,0,2,10,...,328,1,47,19,117,124,20,3,14,24
2019-01-28,38,3,13,44,2,3,2,1,34,10,...,132,1,6,22,66,15,8,5,27,11
2019-01-29,28,1,2,23,0,1,22,0,114,14,...,204,0,2,14,115,10,4,5,28,16
2019-01-30,145,6,4,23,0,3,2,0,2,9,...,165,3,4,31,62,7,10,21,13,53
2019-01-31,32,1,11,33,0,7,7,2,0,0,...,367,0,2,13,30,6,7,5,24,21
2019-02-01,61,0,7,27,0,3,2,0,3,0,...,170,0,1,27,77,26,11,5,11,14
2019-02-02,31,2,1,21,0,9,1,2,11,0,...,82,0,0,15,95,65,14,0,8,2
2019-02-03,35,1,8,26,1,5,2,0,0,0,...,19,0,1,16,47,8,4,1,3,14
2019-02-04,38,0,10,49,6,2,2,0,4,0,...,32,1,0,24,46,10,6,6,6,7
2019-02-05,34,6,12,40,0,2,0,39,4,0,...,25,2,0,79,60,19,8,9,10,20
2019-02-06,82,0,4,35,0,6,1,3,7,0,...,40,2,0,25,58,10,7,6,18,5
2019-02-07,46,4,3,34,1,0,2,42,1,0,...,38,0,0,23,248,278,5,7,14,7
2019-02-08,51,0,2,35,1,1,7,2,0,0,...,53,1,0,40,89,41,6,27,22,9
2019-02-09,25,3,15,34,2,3,25,0,2,0,...,19,0,0,22,81,104,7,6,4,3
2019-02-10,24,1,0,36,2,2,51,0,4,0,...,20,2,3,19,97,24,9,3,7,17
2019-02-11,54,1,3,25,0,7,3,1,115,0,...,42,2,0,18,49,8,10,2,6,3
2019-02-12,102,1,3,28,0,6,6,6,42,0,...,54,1,0,23,54,8,7,6,9,7
2019-02-13,151,2,2,38,2,1,0,0,11,0,...,38,1,0,36,50,9,12,26,18,5
2019-02-14,355,4,4,40,1,11,2,0,13,0,...,38,0,0,25,62,11,6,7,10,13
2019-02-15,133,4,4,33,0,3,3,0,3,0,...,53,0,3,22,54,8,9,8,30,10
2019-02-16,74,1,2,36,38,3,2,0,4,0,...,29,0,0,17,75,16,2,5,12,6
2019-02-17,51,6,1,22,11,0,9,0,5,0,...,25,0,1,19,61,9,7,4,12,3
2019-02-18,85,4,2,35,0,1,0,0,4,0,...,26,0,1,19,38,11,8,7,16,28
2019-02-19,87,1,1,50,0,1,3,0,3,0,...,45,3,0,31,34,6,5,9,25,8
2019-02-20,194,6,6,40,0,6,3,0,5,0,...,41,0,0,13,35,9,5,6,10,11
2019-02-21,187,0,2,8,0,0,2,0,6,0,...,26,0,0,9,24,5,3,2,32,2

In [0]:
col_list=df_sdoriginal.columns

for c in col_list:
    df_sd[c+'avg 4'] = (df_sdoriginal[c].rolling(4).mean())
    df_sd[c+'std 4'] = (df_sdoriginal[c].rolling(4).std())
    df_sd[c+'avg 7'] = (df_sdoriginal[c].rolling(7).mean())
    df_sd[c+'std 7'] = (df_sdoriginal[c].rolling(7).std())

NameError: ignored

In [0]:
col_list=df_sdoriginal.columns
for c in col_list:
    a=df_sd[c]
    b=[0]*len(a)
    for i in range(len(a)):
        if a[i] == 0:
            b[i] = b[i-1] + 1
        else:
            b[i] = 0
    #print ('this is the list of consecative 0 in the {} Column {}'.format(c,b) )
    #b=pd.Series(b) 
    df_sd[c.swapcase()]= pd.Series(b, index=df_sd.index)
    df_sd
df_sd[['C-13','c-13']]

NameError: ignored

In [0]:
df_sd[['C-13','c-13','C-13avg 4','C-13avg 7','C-13std 4','C-13std 7']]
df_sd[['C-13','c-13','C-13avg 4','C-13avg 7','C-13std 4','C-13std 7']].info()

In [0]:
df_sd[['C-13','c-13','C-13avg 4','C-13avg 7','C-13std 4','C-13std 7']].plot(figsize=(8,33))

In [0]:
col_list

In [0]:
for c in col_list:
    df_sd[c+'res'] = (df_sd[c.swapcase()]>2) | (df_sd[c]<(df_sd[c+'avg 4']-df_sd[c+'std 4']))

In [0]:
# for c in col_list:
#    print ("for the ", c , "check the following",df_sd[c+'res'][df_sd[c+'res']==True])